<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141211651-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-141211651-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Contact</title>

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/3e932090ad.js"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Hind:400,700|Work+Sans&display=swap" rel="stylesheet">

    <!-- My CSS -->
    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" href="/css/contact.css">
  </head>
  <body>
    <div class="container-fluid px-0">
    <header class="container-fluid">
      <div class="container">

        <%- include("partials/navbar") -%>
  </header>
  </div>

  <section class="jumbotron jumbotron-fluid bg-danger">
    <div class="container">
      <h1 class="display-4 text-white">Uh-Oh!</h1>
      <p class="lead text-light">Something went wrong. Please try again or contact Tarek by email at Tarek21Zaher@gmail.com or by phone at (936) 676-5067. Thanks for your time!</p>
    </div>
  </section>


  <!-- Bootstrap Javascript Dependencies -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
  </html>
