<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141211651-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-141211651-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My Work</title>

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/3e932090ad.js"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Hind:400,700|Work+Sans&display=swap" rel="stylesheet">

    <!-- My CSS -->
    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" href="/css/my-work.css">
  </head>
  <body>
    <div class="container-fluid bg-about-header px-0">
    <header class="container-fluid">
      <div class="container">

      <%- include("partials/navbar") -%>
    </header>

  </div>

  <section class="container-fluid bg-dark-blue">
    <div class="container py-4">
      <h5 class="display-4 text-uppercase text-white text-right section-heading-text my-auto">My Work</h5>
    </div>
  </section>

  <section class="container text-center">
    <div class="row">
      <div class="col-lg-6 blue-block px-0 py-5">
        <h3 class="project-title px-5 mt-5">Buck's Cup of Joe</h3>
        <hr class="text-white mx-5">
        <h4 class="project-description my-5 text-uppercase">Full Design & Development</h4>
        <a href="/buckscupofjoe" target="_blank"><button type="button" class="btn btn-lg bg-dark box-shadow-dark text-light mb-5">view site ></button></a>
      </div>
      <div class="col-lg-6 px-0">
        <img class="img-fluid" src="images/image-placeholder.jpg" alt="website preview">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 green-block px-0 py-5 order-lg-2">
          <h3 class="project-title px-5 mt-5">Longhorn Startup</h3>
          <hr class="text-white mx-5">
          <h4 class="project-description my-5 text-uppercase">Development</h4>
          <a href="/longhornstartup" target="_blank"><button type="button" class="btn btn-lg bg-dark box-shadow-dark text-light mb-5">view site ></button></a>
      </div>
      <div class="col-lg-6 px-0 order-lg-1">
        <img class="img-fluid" src="images/image-placeholder.jpg" alt="website preview">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 blue-block px-0 py-5">
        <h3 class="project-title px-5 mt-5">USA Triathlon</h3>
        <hr class="text-white mx-5">
        <h4 class="project-description my-5 text-uppercase">Development</h4>
        <a href="/usat" target="_blank"><button type="button" class="btn btn-lg bg-dark box-shadow-dark text-light mb-5">view site ></button></a>
      </div>
      <div class="col-lg-6 px-0">
        <img class="img-fluid" src="images/image-placeholder.jpg" alt="website preview">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 green-block px-0 py-5 order-lg-2">
          <h3 class="project-title px-5 mt-5">Playtri</h3>
          <hr class="text-white mx-5">
          <h4 class="project-description my-5 text-uppercase">Development</h4>
          <a href="/playtri" target="_blank"><button type="button" class="btn btn-lg bg-dark box-shadow-dark text-light mb-5">view site ></button></a>
      </div>
      <div class="col-lg-6 px-0 order-lg-1">
        <img class="img-fluid" src="images/image-placeholder.jpg" alt="website preview">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 blue-block px-0 py-5">
        <h3 class="project-title px-5 mt-5">The East Texas Peddler</h3>
        <hr class="text-white mx-5">
        <h4 class="project-description my-5 text-uppercase">Design Help</h4>
        <a href="/thepeddler" target="_blank"><button type="button" class="btn btn-lg bg-dark box-shadow-dark text-light mb-5">view site ></button></a>
      </div>
      <div class="col-lg-6 px-0">
        <img class="img-fluid" src="images/image-placeholder.jpg" alt="website preview">
      </div>
    </div>
  </section>

  <section class="container text-center my-5 py-5">
    <div class="row">
      <div class="col-lg-6 mx-auto my-5">
        <h3 class="font-weight-bold cta-text mb-5">Like What You See?</h3>
        <a href="tel:+1-936-676-5067"><button type="button" class="btn btn-lg btn-bg-green mb-5 mb-md-0 mr-md-5"><i class="fas fa-mobile-alt mr-2"></i> (936) 676-5067</button></a>
        <a href="/contact"><button type="button" class="btn btn-lg btn-bg-blue box-shadow-primary text-light"><i class="far fa-paper-plane mr-2"></i> Get Started</button></a>
      </div>
    </div>
  </section>


  <%- include("partials/footer") -%>
