header {
  background-color: rgba(0,0,0,.6);
}

h4 {
  letter-spacing: 2px;
}

h5 {
  font-family: 'Work Sans', sans-serif;
}

.bg-about-header {
  background-image: url("../images/about-header-image.jpg");
  background-size: cover;
  background-position: 50% 20%;
  height: 100vh;
}

.profile-picture {
  border-radius: 50%;
  object-fit: cover;
  width: 200px;
  height: 200px;
  shape-outside: circle(50%);
}
